/*** Subscribe  ***/
.newsletter-subscribe {
background-color: #66C2A5;
color: #FFF;
}
.newsletter-subscribe h3 {
float: left;
margin: 10px 15px;
}
.subscribe-form {
margin-top: 28px;
padding-bottom: 20px;
}
.subscribe-form .input-group-addon {
padding: 15px 20px;
}
.subscribe-form input.form-control {
padding: 4px 10px 4px 10px;
height: 46px;
margin-top: 0px;
outline: 0;
border-color:#e7e7e7;
}
/*** End Subscribe  ***/
