	.panel-find-table .btn {
padding: 8px 12px;
}
#reservation-alert .alert p {
padding: 10px;
margin-bottom: 5px;
}
#reservation-alert .alert {
margin-bottom: 0;
padding: 0;
border: 0 none;
}
.bootstrap-timepicker-widget table td input {
width: 48px;
}
.panel-summary .form-control-static {
font-size: 13px;
font-weight: 200;
}