@media screen and (max-width: 320px) {
#cart-box-affix {
margin-left: 0;
width: 250px;
}
@media screen and (max-width: 360px) {
#cart-box-affix {
margin-left: 0;
width: 270px;
}
@media screen and (max-width: 520px) {
#cart-box-affix {
margin-left: 0;
width: 320px;
}
}
@media screen and (min-width: 768px) {
#cart-box-affix {
margin-left: 0;
width: 350px;
}
}
#cart-box-affix.affix {
position: fixed !important;
bottom: 340px;
top:135px;
z-index: 999;
}
#cart-box-affix .panel-cart {
margin-left: 0;
margin-bottom: 10px;
background-color: #effff6;
}
.panel-cart .panel-heading {
    margin-bottom: 0;
}
.panel-cart .panel-body {
    padding: 10px 15px;
}
@media screen and (max-width: 766px) {
    #cart-box-affix .panel {
    /*display: none;*/
}
#cart-box-affix.affix {
    position: relative !important;
    bottom: 0px !important;
    top: 0px !important;
    z-index: 999;
}
}

@media screen and (max-width: 768px) {
.cart-alert-affix {
position: fixed;
top: 0;
left: 0;
right: 0;
}
.cart-alert-affix .alert > p {
padding: 20px 15px;
}
}
.cart-alert-wrap .alert {
padding: 0;
position: relative;
border: 0;
}
.cart-alert-wrap .alert > p {
padding: 10px 15px;
}
.cart-alert-wrap button.close {
right: 5px;
}
.cart-alert-wrap .list-group-alert p {
padding: 10px 15px;
}



.order-type .btn {
width: 50%;
}
.modal-menu-options .media {
margin-bottom: 15px;
}
.menu-quantity {
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
margin-bottom: 10px;
padding: 10px 0;
}
.menu-quantity label {
margin-top: 5px;
}
/*** Cart ***/
.cart-items ul {
list-style: outside none none;
margin: 0;
padding: 0;
line-height: 1.8;
}

.cart-items ul li:after,
.cart-items ul li:before {
content: " ";
display: table;
}

.cart-items ul li {
border-color: #66C2A5 !important;
border-style: dashed !important;
border-width: 0 0 1px;
margin: 0;
overflow: hidden;
padding-bottom: 0px;
padding-top: 5px;
}
.cart-items ul li:last-child {
border-bottom: 0 none;
}
.cart-items ul li .name {
color: #333;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
display: block;
/*font-weight: bold;*/
}

.cart-items ul li .name-image:focus .name,
.cart-items ul li .name-image:hover .name {
color: #333;
}

.cart-items ul li .name-image {
cursor: pointer;
display: block;
text-decoration: none;
/*padding-left: 25px;*/
height: 40px;
}

.cart-items ul li .name-image img {
border-radius: 0;
float: left;
height: auto;
margin-right: 10px;
max-width: 70px !important;
width: 100% !important;
}
.cart-items ul li .cart-btn {
float: left;
height: auto;
margin-left: 5px;
margin-top: 2px;
cursor: pointer;
text-decoration: none;
}
.cart-items ul li .options {
display: block;
}
.option-amount {
padding-right: 10px;
}
.cart-items ul li .quantity {
border-radius: 10px;
position: relative;
font-weight: normal;
}
.cart-items ul li .amount {
color: #333;
float: right;
padding-right: 10px;
padding-left: 10px;
}
.cart-items ul li .comment-amount {
padding-left: 25px;
}
.cart-coupon {
    margin: 10px -15px 0px;
padding: 0px 15px;
/*border-top: 1px solid #F5F5F5;
border-bottom: 1px solid #F5F5F5;*/
}
.cart-total .table {
margin-bottom: 10px;
}

.cart-total .table td {
color: #666;
font-size: 14px;
padding: 3px;
border-color: #f7f7f7;
}
.cart-total .table tr:first-child td {
border-width: 0;
}
#cart-info .table-responsive {
border: 0 solid #ddd;
}
/*** End Cart ***/





/*** Cart Options ***/
#cart-options-alert .alert {
padding: 0;
}
#cart-options-alert .alert p {
padding: 15px;
}
/*** End Cart Options ***/





/*** Cart Dropdown ***/
.cart-dropdown .dropdown-menu {
border-width: 0 0 5px;
border-color: #FFF #FFF #ed561a;
border-radius:0;
right: 0;
max-width: 350px;
padding: 15px;
top: 24px;
width: 100%;
z-index: 999;
}
.cart-dropdown div.cart-coupon, .cart-dropdown div.cart-total {
display: none;
}
.cart-dropdown .cart-items ul li .name-image img {
float: left;
margin-left: 0;
margin-right: 15px;
}
.cart-dropdown .cart-items ul li .remove .fa {
color: #ed561a;
}
.cart-dropdown .cart-total {
color: #888;
padding-left: 10px;
}
/*** End Cart Dropdown ***/

.location-control {
margin: 0 -15px;
padding: 0 15px 10px;
/*border-bottom: 1px solid #f5f5f5;*/   
}
.location-control .small {
font-size: 75%;
}
#cart-buttons {
background-color: #fff;
padding: 15px;
border-top: 1px solid #ddd;
/*position: fixed;*/
bottom: 0;
right:0;
left:0;
z-index: 9;
}
#cart-buttons .btn {
padding: 12px 15px;
display: block;
border-radius: 3px;
}
#cart-buttons .order-total {
font-weight: bold;
}

.modal-menu-options .media-object {
    width: 150px;
}
.affix{
	position: relative !important;
}