body,html {
font-size:14px;
padding:0;
font-family: 'Lato', Arial, sans-serif;
}
html {
width: 100%;
height: 100%;
position: absolute;
}
body {
padding-top:0;
font-weight:200;
background-color:#F7F7F7;
border: 0 solid #D2DCE7;
max-height: 100%;
width: 100%;
overflow: hidden;
position: relative;
}
*:not(#media-details) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

a:hover, a:focus {
color: #2a6496;
text-decoration: none;
}

.wrap-none {
    padding: 0;
}
.panel {
    border-radius: 0;
}



/*** NAVBAR TOP ***/
.navbar-menu {
background-color: #ECF0F5;
border-top: 0 solid #D2DCE7;
border-right: 0 solid #D2DCE7;
border-left: 0 solid #D2DCE7;
border-bottom:0px;
padding: 0 0px;
margin-bottom:0px;
min-height: 100px;
}
.navbar-menu .input-group-addon {
background-color: #ffffff;
cursor: pointer;
}
.navbar-form {
    padding: 0;
}



/*** BUTTONS ***/
.btn {
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
display: inline-block;
margin-bottom: 0;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
}
.btn-default {
border-color: #D2DCE7;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
border-color: #c4c4c4;
}
.btn-toolbar .btn {
font-size: 14px;
}
.navbar-btn {
margin-top: 10px;
}
.btn-toolbar .btn .fa {
line-height: 1.42857;
color: #585858;
}
.btn-toolbar .form-control {
width: 100%;
}
.btn:hover, .btn:focus {
color: #333333;
text-decoration: none;
}
.btn:focus {
outline: 0 none;
outline-offset:0px;
}
.btn.active, .btn:active {
background-image: none;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
outline: 0 none;
}
.btn-toolbar {
background-color: #ECF0F5;
margin-left: 0;
padding: 5px 0;
}
.btn-folders {
    line-height: 0.2;
}
.btn-folders i {
    line-height: 0;
}
.btn-choose {
color: #FFF;
padding: 2px 20px;
margin: 7px 0;
font-size: 13px;
}
.btn-choose:hover, .btn-choose:focus {
color: #FFF;
}
.breadcrumb a.btn {
color: #686868;
padding: 0;
box-shadow: none;
line-height: 1;
}
.input-group-addon, .form-control {
    border: 1px solid #D2DCE7;
}




/*** DROPDOWN SORTER ***/
.dropdown-sorter > li > span {
padding: 3px 20px;
}
.dropdown-sorter li a:hover {
background: none repeat scroll 0 0 #EEEEEE;
}
.dropdown-sorter li a {
cursor:pointer;
}
.dropdown-sorter .fa {
margin-left: -12px;
width: 12px;
}
.dropdown-menu > li > .ascending, .dropdown-menu > li > .descending {
background: none repeat scroll 0 0 #EEEEEE;
}
.dropdown-menu .divider {
margin: 5px 0;
}



/*** CONTAINERS ***/
.media-content {
border: 1px solid #D2DCE7;
position: fixed;
top: 100px;
bottom: 38px;
left: 0px;
right: 0px;
}
.media-content > .row-fluid {
position: relative;
height: 100%;
}
.row-fluid {
background: none repeat scroll 0 0 #FFF;
padding: 0;
margin: 0;
}
.uploader-box, .grid-box {
height: 100%;
position: relative;
}
.grid-box > div {
height: 100%;
position: relative;
}
.navbar-statusbar {
background-color: #fff;
border-color: #D2DCE7;
border-width: 1px;
min-height: 38px;
text-align: center;
border-radius: 0 0 3px 3px;
}
.navbar-statusbar .navbar-text {
float:none;
font-size: 12px;
margin-bottom: 10px;
margin-top: 10px;
color: #444;
font-weight: 400;
}



/** SIDEBAR **/
.media-sidebar {
height: 100%;
background-color: #ECF0F5;
border-left: 1px solid #D2DCE7;
padding: 0;
overflow: auto;
}
.url-control {
width: auto;
display: inline-block;
padding: 0;
line-height: 0.3;
font-size: 12px;
height: 20px;
width: 60%;
}
#media-details, #media-galleries {
padding: 10px 15px;
height: 100%;
text-align: center;
}
#media-details .btn-group {
margin: 5px 0 10px;
}
#media-details .btn {
font-size: 12px;
padding: 6px 12px;
}
.get_info {
font-size: 12px;
list-style: none outside none;
margin: 0;
padding: 0;
text-align: left;
}
.get_info > li {
padding: 2px 0;
cursor: default !important;
}
.get_info > li span {
display: inline-block;
margin-right: 5px;
text-align: right;
font-weight: 600;
}
.uploader-box {
background: none repeat scroll 0 0 #FFFFFF;
display: none;
margin: 0 auto;
overflow: hidden;
width: 100%;
z-index: 99;
}
.upload-tabbable {
height: 100%;
}
.dropzone {
    border: 1px solid rgba(0,0,0,0.01);
    min-height: 400px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.01);
    padding: 0 23px;
    min-height: 100%;
}
.dropzone .dz-default.dz-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    background-image: url("../../../admin/views/themes/spotneat-blue/images/spritemap.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    margin-top: -61.5px;
    top: 50%;
    left: 50%;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
    .dropzone .dz-default.dz-message {
        background-image: url("../../../admin/views/themes/spotneat-blue/images/spritemap@2x.png");
        -webkit-background-size: 428px 406px;
        -moz-background-size: 428px 406px;
        background-size: 428px 406px;
    }
}
.dropzone .dz-default.dz-message span {
    display: none;
}
.dropzone .dz-preview .dz-error-message {
    top:145px;
}
.dropzone .dz-preview .dz-remove {
    font-size: 12px;
}


/*** BREADCRUMB ***/
.breadcrumb {
background-color: #FFFFFF;
border: 1px solid #D2DCE7;
border-bottom: 0 none;
border-radius:3px 3px 0 0;
padding: 7px 15px;
margin: 4px 0 0;
z-index:5;
}
.breadcrumb > li {
display: inline-block;
text-shadow: 0 1px 0 #FFFFFF;
}
.breadcrumb > .active {
color: #888;
}
.breadcrumb a {
color: #444;
}
.breadcrumb a:hover, .breadcrumb a:focus {
color: #2a6496;
text-decoration: none;
}


/*** NOTIFICATION ***/
.notification {
top: 25%;
font-size: 1.2em;
margin-bottom: 0;
padding: 1em 1.3em;
position: fixed;
left: 0;
z-index: 2000;
}
.notification span {
    color: inherit;
    background-color: inherit;
}



/*** THUMBNAIL LIST ***/
.media-list {
background:#FFF;
border-bottom: 0 solid #E7E7E7;
list-style: none outside none;
padding: 15px 2px;
margin: 0 auto;
height: 100%;
position: relative;
bottom: 0px;
top: 0px;
overflow: scroll;
}
.media-list .thumbnail-each {
border: 0 none;
display: inline-block;
margin: 7px;
padding: 0;
vertical-align: top;
width: 160px;
line-height: 20px;
}
.thumbnail {
border: 0 solid #E1E1E1;
display: block;
margin: auto;
position: relative;
width: 100%;
padding:0;
}
.media-list .thumbnail > a {
background-color: #f8fafc;
box-shadow: 0px 0px 15px rgba(235, 240, 245, 0.9) inset, 0px 0px 0px 1px rgba(235, 240, 245, 0.02) inset;
cursor: pointer;
top: 0px;
display: block;
left: 0px;
right: 0px;
bottom: 0px;
overflow: hidden;
}
.thumbnail .img-container {
border: 0 none;
margin: auto;
padding: 0;
text-align: center;
vertical-align: middle;
width: 100%;
height: 150px;
transform: translate(50%,50%);
top: 0px;
bottom: 0px;
left: 0px;
position: relative;
}
.thumbnail .img-container img {
/*max-width: 64px !important;*/
max-height: 100% !important;
margin: 0 auto;
transform: translate(-50%,-50%);
position: absolute;
}
.thumbnail .img-container i {
font-size: 64px;
color:#888;
display: block;
transform: translate(-50%, -50%);
}
.thumbnail .img-container span {
bottom: 35px;
color: #fff;
margin-left: 12px;
position: absolute;
}
.media-list .thumbnail .caption {
color: #000000;
padding: 4px;
text-align: left;
word-wrap: break-word;
z-index: 1;
}
.media-list .thumbnail h4 {
text-align: center;
font-size: 12px;
font-weight: normal;
line-height: 18px;
margin: 0;
padding: 0;
}
h4.ellipsis {
height: 18px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.media-list .thumbnail .info {
color: #777777;
display: none;
font-size: 12px;
font-weight: 200;
text-shadow: 0 1px 0 #FFFFFF;
}
.media-list .selected {
box-shadow: 0px 0px 2px 3px rgb(241, 241, 241) inset, 0px 0px 2px 3px rgb(0, 136, 204);
}




/*** CONTEXT MENU ***/
.context-menu-item.icon {
padding: 8px 10px;
}
.context-menu-item.icon {
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.context-menu-item > span {
font-size: 12px;
margin-left:10px;
}
.context-menu-item.icon-eye:before {content: "\f06e";}
.context-menu-item.icon-clipboard:before {content: "\f0ea";}
.context-menu-item.icon-folder-open:before {content: "\f07c";}
.context-menu-item.icon-pencil:before {content: "\f040";}
.context-menu-item.icon-trash-o:before {content: "\f014";}
.context-menu-item.icon-info-circle:before {content: "\f05a";}


/*** MODAL ***/
.modal-footer {
margin-top: 0;
}
.modal-footer .btn, .modal-footer a {
font-size: 12px;
margin-left: 10px;
min-width: 80px;
}
.modal-footer .btn-default {
background-color: #FFF;
border-color: #CCC;
color: #333;
}
.modal-footer .btn-default:hover, .modal-footer .btn-default:focus, .modal-footer .btn-default:active {
background-color: #ebebeb;
border-color: #adadad;
}
.modal-footer .btn-primary {
background-color: #428bca;
border-color: #357ebd;
color: #FFF;
}
.modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus, .modal-footer .btn-primary:active {
background-color: #3276b1;
border-color: #285e8e;
}



/** Metis Folder **/
#folderPopover .nav {
min-width: 250px;
}
#folderPopover .popover {
margin-left: 5px;
}
.metisFolder {
padding-left: 0;
}
.metisFolder ul {
padding-left: 25px;
}
.metisFolder,
.metisFolder ul {
list-style: none;
}
.metisFolder li {
position: relative;
}
.metisFolder li a {
display: block;
padding-top: 5px;
padding-bottom: 5px;
color: #444;
text-decoration: none;
outline: 0 none;
cursor: pointer;
}
.metisFolder li.active > a {
color: #777;
}
.metisFolder ul:before {
position: absolute;
border-left: 1px dotted #333;
content: "";
width: 30px;
top: 25px;
left: 5px;
bottom: 17px;
}
.metisFolder ul > li:before {
position: absolute;
border-top: 1px dotted #333;
content: "";
width: 14px;
top: 13px;
left: -20px;
}
.metisFolder .fa {
font-size: 12px;
}


.panel-media-galleries {
background: transparent none repeat scroll 0 0;
border: 0 none;
font-size: 12px;
min-height: 100%;
box-shadow: none;
margin-bottom: 0;
text-align: left;
overflow: auto;
}
.panel-media-galleries .panel-body {
background-color: #FFF;
}
.panel-media-galleries .gallery-name, .panel-media-galleries .gallery-toggle, .panel-media-galleries .gallery-buttons {
display: inline-block;
}
.panel-media-galleries .gallery-toggle {
padding-right: 10px;
}
.panel-media-galleries .panel > .panel-heading:hover .gallery-buttons,
.panel-media-galleries .panel > .panel-heading:focus .gallery-buttons {
    display: block !important;
}
.panel-media-galleries .btn {
font-size: 12px;
padding: 3px 12px;
}
.panel-media-galleries .form-control {
font-size: 12px;
height: 24px;
padding: 3px 6px;
}
