* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
header {
  width: 100%;
  height: 580px;
  background: url("./images/hero_landing_us_alt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-title {
  margin-left: 17px;
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
p a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  text-align: center;
  display: block;
}
.signin-btn {
  background: none;
  border: none;
  color: white;
}
.signup-btn {
  color: #494954;
  background: white;
  border-radius: 60px;
}

.banner-heading {
  margin-top: 80px;
  font-weight: 700;
  line-height: 76px;
  font-size: 64px;
  color: white;
  letter-spacing: -0.04ch;
}
section {
  margin-top: 150px;
}
.links {
  text-decoration: none;
  color: #054445;
}
.links:hover {
  color: #0a7f81;
}
.getapp-btn {
  background: #054445;
  color: white;
  border-radius: 40px;
}
.getapp-btn:hover {
  background: #0a7f81;
  color: #cff6f7;
}
.third-section {
  margin-top: -40px;
  padding-top: 90px;
  padding-bottom: 50px;
  background: #f2f7f8;
}

.footer {
  background: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  color: #c8c8d3;
}

.bottom-links {
  margin-top: 10px;
  display: inline-block;
}
.bottom-links li {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  margin-right: 10px;
}

.store-items li {
  border: 2px solid #494954;
  border-radius: 5px;
  margin-bottom: 5px;
}
