html,
body {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('../images/login6.jpeg');
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 13px;
    color: #333333;
    background-size: cover;
}

.body-login {
    /*background-color: #c5d2e0;*/
    color: #686868;
}

.bg-primary {
    color: #fff;
    background-color: #66C2A5 !important;
}

.body-login #page-wrapper {
    margin-left: 0;
    /*background-color: #c5d2e0;*/
    /*background : url('../images/login.jpg') no-repeat 0 50%;
opacity: 0.5;*/
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('../images/login6.jpeg');
    background-size: cover;
    border: 0;
}

.body-login .navbar,
.body-login .navbar-brand,
.body-login #footer {
    display: none;
}

.body-login .panel-login {
    margin: 30% 0;
    background-color: transparent;
    border: 0;
}

.body-login .panel-login .panel-body {
    background-color: #fff;
}

.body-login .panel-login .thumbnail {
    background-color: transparent;
}

.body-login .panel-login>.panel-heading {
    text-align: center;
    padding: 20px 15px;
}

.body-login .form-control {
    width: 100%;
}

a,
a:hover,
a:active {
    outline: 0 none;
}

.btn-login {
    margin-top: 15px;
    width: 100%;
}

.jumbotron {
    padding: 48px 15px;
}

.jumbotron p {
    font-size: 14px;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 50%;
}

h1.block-heading,
h2.block-heading,
h3.block-heading,
h4.block-heading,
h5.block-heading,
h6.block-heading {
    padding: 15px 0;
}

.hidden {
    display: inline-block !important;
    visibility: visible !important;
    left: -999999px;
    position: absolute;
}

.well {
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}

.a {
    outline: 0 none;
}

.text-sm {
    font-size: 12px;
}

.text-green {
    color: #5CB85C;
}

.text-red {
    color: #D9534F;
}

.text-blue {
    color: #63ADD0;
}

.text-yellow {
    color: #EC971F;
}

.bg-green {
    background-color: #5CB85C;
    color: #FFF;
}

.bg-red {
    background-color: #D9534F;
    color: #FFF;
}

.bg-blue {
    background-color: #63ADD0;
    color: #FFF;
}

.bg-yellow {
    background-color: #EC971F;
    color: #FFF;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/** WRAPPER **/

#wrapper {
    background-color: #fff;
    width: 100%;
    padding-left: 0;
}

#page-wrapper {
    padding: 0 15px 15px;
    min-height: 568px;
    background-color: #F2F7F8;
    border-bottom: 1px solid #ECF0F5;
}



@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        padding: 0 20px;
    }
}

#page-wrapper .content {
    margin-bottom: 20px;
}

.float-none {
    float: none;
}

.border-none {
    border: 0 none !important;
}

.border-all {
    border-right: 1px solid #DFE6EE !important;
    border-left: 1px solid #DFE6EE !important;
}

.border-left {
    border-left: 1px solid #DFE6EE !important;
}

.border-right {
    border-right: 1px solid #DFE6EE !important;
}

.border-top {
    border-top: 1px solid #DFE6EE !important;
}

.border-bottom {
    border-bottom: 1px solid #DFE6EE !important;
}

.wrap-all {
    padding: 15px !important;
}

.wrap-none {
    padding: 0 !important;
}

.wrap-vertical {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.wrap-horizontal {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.wrap-top {
    padding-top: 15px !important;
}

.wrap-bottom {
    padding-bottom: 15px !important;
}

.wrap-left {
    padding-left: 15px !important;
}

.wrap-right {
    padding-right: 15px !important;
}

.inline-block {
    display: inline-block;
}

.center-block {
    float: none;
}


/** NAVBAR **/

.navbar-top {
    background-color: #30786C;
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 0;
    min-height: 50px;
    color: #fff;
}

.navbar-logo {
    display: inline-block;
    padding: 9px 7px;
    background-color: #ffffff;
}

.navbar-logo img {
    height: 40px;
    line-height: 32px;
    background-color: #ffffff;
}

.navbar-logo .logo-image {
    margin-bottom: -15px;
}

.navbar-logo .logo-text {
    width: 60%;
}

.navbar-logo .logo-text1 {
height: 27px;
}

.navbar-sitename {
    display: inline-block;
    white-space: nowrap;
}

.hide-sidebar .navbar-sitename {
    display: none;
}

.navbar-top .navbar-header {
    background-color: #30786C;
}

.hide-sidebar .navbar-top .navbar-header {
    width: 46px;
}

.navbar-top .navbar-heading {
    display: inline-block;
    margin: 0px;
    font-size: 28px;
    padding: 0 20px;
    line-height: 50px;
    border-left: 1px dashed #fff;
    color: #fff !important;
}

h1 small {
    color: #fff !important;
}

.navbar-top .navbar-heading small,
.navbar-top .navbar-heading .small {
    font-size: 65%;
}

.navbar-top .navbar-brand {
    height: 50px;
    background-color: #ffffff;
    /*padding: 0px;
cursor: pointer;*/
}

.navbar-top .navbar-sitename a {
    font-size: 20px;
    color: #eee;
    line-height: 50px;
    text-decoration: none;
}

.navbar-top .navbar-sitename a:hover,
.navbar-top .navbar-sitename a:focus {
    color: #eee;
}

@media (min-width: 768px) {
    .navbar-top .navbar-header {
        width: 220px;
    }
}

.navbar-top .navbar-toggle {
    border: 0 none;
    border-radius: 0;
    margin: 0 15px 0 0;
    padding: 18px 10px;
}

.navbar-top .navbar-toggle .icon-bar {
    background-color: #f8fafb;
}

.navbar-top .navbar-toggle:focus,
.navbar-top .navbar-toggle:hover,
.navbar-top .navbar-toggle:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-top-links {
    border-bottom: 1px solid #ECF0F5;
}

@media (min-width: 768px) {
    .navbar-top-links {
        border-bottom: 0 none;
    }
}

.navbar-top-links .dropdown-menu {
    border-color: #DFE6EE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 0;
    margin-top: 0;
    z-index: 99;
    padding: 0;
}

.navbar-top-links>li>a {
    color: #FFFFFF;
}

.navbar-top-links>li {
    display: inline-block;
}

.navbar-top-links>li:first-child {
    margin-left: 15px;
}

.navbar-top-links>li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    font-size: 12px;
}

.navbar-top-links>li>a .fa {
    font-size: 16px;
    color: #fff;
}

.navbar-top-links>li>a:hover .fa,
.navbar-top-links>li>a:focus .fa,
.navbar-top-links>li.open>a .fa {
    color: #fff;
}

.navbar-top-links>li>a:hover,
.navbar-top-links>li>a:focus,
.navbar-top-links>.open>a,
.navbar-top-links>.open>a:hover,
.navbar-top-links>.open>a:focus {
    background-color: #650f07;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu .menu>.divider:last-child {
    margin-bottom: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 5px 20px;
    min-height: 0;
}

.navbar-top-links>li.open>a i::after {
    content: "\f0d8";
    height: 20px;
    font-size: 26px;
    position: absolute;
    bottom: -3px;
    right: 15px;
    z-index: 999;
}

.navbar-top-links .dropdown-menu>li>a:focus,
.navbar-top-links .dropdown-menu>li>a:hover,
.navbar-top-links .dropdown-menu .menu>li>a:focus,
.navbar-top-links .dropdown-menu .menu>li>a:hover {
    background-color: #f2f5f8;
    color: #484848;
}

.navbar-top-links .dropdown-menu .menu-body .menu>li>a:focus,
.navbar-top-links .dropdown-menu .menu-body .menu>li>a:hover {
    background-color: #f2f5f8;
    color: #484848;
}

.dropdown-menu .menu-body li a {
    color: #337AB7;
}

.navbar-top-links .dropdown-menu>li>span {
    color: #dfe6ee;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-menu>li .menu {
    list-style: outside none none;
    margin: 0;
    max-height: 225px;
    overflow-x: hidden;
    padding: 0;
}

.navbar-top-links .dropdown-menu .menu>li>a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 15px;
    white-space: nowrap;
}

.navbar-top-links .dropdown-menu>.menu-header {
    border-bottom: 1px solid #ecf0f5;
    padding: 6px 15px;
    position: relative;
}

.navbar-top-links .dropdown-menu>.menu-footer {
    background-color: #f2f5f8;
    border-top: 1px solid #ecf0f5;
    padding: 6px 10px;
}

.navbar-top-links .dropdown-menu>.menu-footer>a {
    font-size: 12px;
    text-align: center;
    color: #333;
}

.navbar-top-links li a>.label {
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    height: 15px;
    width: 15px;
    right: 10px;
    padding: 2px;
    line-height: 1em;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.navbar-top-links .dropdown-messages {
    margin-left: -94px;
    width: 290px;
}

.navbar-top-links .dropdown-settings {
    margin-left: -28px;
    width: 125px;
}

.navbar-top-links .dropdown-activities {
    margin-left: -142px;
    width: 290px;
}

.navbar-top-links .dropdown-user {
    margin-left: 0px;
    width: 210px;
}

.navbar-top-links .dropdown-user .list-group-item-danger {
    color: #A94442;
    background-color: #F2DEDE;
}

.navbar-top-links .dropdown .list-group-item-danger:hover {
    color: #A94442;
    background-color: #EBCCCC;
}

@media (min-width: 768px) {
    .navbar-top-links .dropdown-menu {
        margin-left: 0px;
    }
    .navbar-top-links .dropdown-activities,
    .navbar-top-links .dropdown-messages {
        width: 310px;
    }
    .navbar-top-links .dropdown-user {
        width: 250px;
    }
}

.navbar-top-links .dropdown-activities li a {
    padding: 3px 0;
}

.navbar-top-links .dropdown-messages .menu li:first-child,
.navbar-top-links .dropdown-activities .menu li:first-child {
    margin-top: 9px;
}

.navbar-top-links .dropdown-activities li>div {
    font-size: 12px;
    padding-left: 10px;
}

.activity-time {
    display: block;
    margin-top: 2px;
}

.activity-body {
    padding-left: 30px;
}

.activity-body .fa {
    margin-left: -30px;
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #F2F7F8;
    float: left;
}

.activity-body .fa::before {
    display: none;
}

.activity-body b {
    font-weight: 500;
}

.activity-body a {
    color: #66C2A5;
}

.navbar-right {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu .menu-body {
    background-color: #FFF;
    color: #484848;
    margin: -1px -1px;
    border-left: 1px solid #DFE6EE;
    border-right: 1px solid #DFE6EE;
}


/** SIDE NAV **/

.sidebar {
    background-color: #fff;
}

.sidebar .sidebar-nav.navbar-collapse {
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 0 1px;
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 0 solid #e7e7e7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar .nav>li>a {
    color: #30786C;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.4s ease-in-out 0s;
    font-size: 14px;
}

.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:focus {
    background-color: #30786C;
    border-left: 0px solid #93abc6;
    color: #f8fafb;
}

.sidebar ul>li.active>a,
.sidebar ul>li>a.active {
    background-color: #30786C !important;
    color: #FFFFFF;
    font-weight: bold;
}

.sidebar .nav-second-level>li>a:hover,
.sidebar .nav-third-level>li>a:hover,
.sidebar .nav-second-level>li>a:focus,
.sidebar .nav-third-level>li>a:focus,
.sidebar .nav-second-level>li.active>a,
.sidebar .nav-third-level>li.active>a,
.sidebar .nav-second-level>li>a.active,
.sidebar .nav-third-level>li>a.active {
    background-color: transparent;
    border-left: 0 none;
    color: #0000008a;
}

.sidebar .fa-fw {
    margin-right: 12px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level,
.sidebar .nav-third-level {
    background-color: #F2F7F8;
    color: #0000008a !important;
    border-right: 1px solid #fff;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a,
.sidebar .nav-third-level li a {
    color: #0000008a;
}

.sidebar .nav-second-level li a {
    padding: 8px 15px 8px 27px;
    font-size: 13px;
    font-weight: bold;
}

.sidebar .nav-third-level li a {
    padding-left: 42px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 220px;
        /*padding-top: 20px;*/
        top: 50px;
        border-top: 1px dashed #fff;
    }
    .sidebar .sidebar-nav.navbar-collapse {
        border-width: 0px;
    }
}

.hide-sidebar .sidebar {
    width: 46px;
}

.hide-sidebar .sidebar .nav>li>a>.content,
.hide-sidebar .sidebar .nav>li>a>span {
    display: none;
}

.hide-sidebar .sidebar .collapse {
    position: absolute;
    width: 200px;
    display: none;
}

.hide-sidebar .sidebar .nav-second-level {
    margin: -39px 0 0 46px;
}

.hide-sidebar .sidebar .nav-third-level {
    margin: 0;
}

.hide-sidebar .sidebar .nav>li:hover .nav-second-level,
.hide-sidebar .sidebar .nav-second-level>li:hover .nav-third-level {
    display: block;
    visibility: visible;
    height: auto !important;
}

.hide-sidebar .fa-chevron-circle-left::before {
    content: "\f138";
}

.hide-sidebar #page-wrapper,
.hide-sidebar #footer {
    margin-left: 46px;
}

.body-login .hide-sidebar #page-wrapper,
.body-login .hide-sidebar #footer {
    margin-left: 0px;
}


/** PAGE HEADER **/

.header {
    border-bottom: 0 solid #DDDBDB;
}

.page-header {
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-top: 0;
}

.page-header h1 {
    border-bottom: 0 solid #d3d3d3;
    font-size: 28px;
    font-weight: normal;
    padding-right: 15px;
    margin: 0 0 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .page-header {
        margin-top: 0;
    }
    .page-header h1 {
        width: auto;
        margin: 0;
    }
}

.page-header .btn {
    padding: 6px 15px;
    border: 0 none;
    outline: 0 none;
}

.page-header .btn-default,
.page-header .btn-default:hover,
.page-header .btn-default:focus {
    background-color: #FFF;
    box-shadow: 0 3px 0 0 #D2DCE7;
    border: 1px solid #C1D9EE;
}

.page-header .btn-default:hover,
.page-header .btn-default:focus {
    background-color: #ECF0F5;
}

.page-header .btn-primary,
.page-header .btn-primary:hover,
.page-header .btn-primary:focus {
    box-shadow: 0 3px 0 0 #255986;
}

.page-header .btn-success,
.page-header .btn-success:hover,
.page-header .btn-success:focus {
    box-shadow: 0 3px 0 0 #3D8B3D;
}

.page-header .btn-danger,
.page-header .btn-danger:hover,
.page-header .btn-danger:focus {
    box-shadow: 0 3px 0 0 #AC2925;
}

.page-header .btn-info,
.page-header .btn-info:hover,
.page-header .btn-info:focus {
    box-shadow: 0 3px 0 0 #2185a3;
}

.page-header .btn.active,
.page-header .btn:active {
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.page-header .fa {
    font-size: 18px;
    padding: 0;
}

.page-header .btn .fa {
    font-size: 14px;
    padding-right: 3px;
}


/** ALERT **/

#notification .alert {
    background-color: #FFFFFF;
    border-width: 0 0 0 5px;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.3);
}

.alert {
    border-radius: 0;
}

#notification .alert-dismissable .close {
    right: -26px;
    top: -5px;
}

#notification p,
#notification .alert-success,
#notification .alert-warning,
#notification .alert-info,
#notification .alert-danger {
    padding: 8px 35px 8px 15px;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #c1e2b3;
    border-color: #87c76c;
}

.alert-danger {
    background-color: #e7c2c2;
    border-color: #c05f5f;
}

.alert-warning {
    background-color: #f8efc0;
    border-color: #e7c720;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #5bc0de;
}

.list-group-alert {
    list-style: none outside none;
    padding: 0;
}

.list-group-alert li+li {
    margin-top: 10px;
}

.list-group-alert .alert-hide {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
}

.alert-collapsible .btn-dropdown {
    color: inherit;
    position: relative;
    left: -7px;
    top: 2px;
}

button.btn-dropdown {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.btn-dropdown {
    float: left;
}

.btn-dropdown i {
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}


/** FORMS **/

form {
    margin-bottom: 0px;
}

.form-control {
    border: 1px solid #d2dce7;
    box-shadow: none;
    width: 100%;
    border-radius: 3px;
    height: 38px;
    line-height: 2;
    padding: 10px;
    font-size: 13px;
}

.form-control:focus {
    border-color: #4796c4;
    box-shadow: none;
}

textarea.form-control {
    line-height: 1.4;
}

.form-horizontal .control-label {
    text-align: left;
}

.control-label .help-block {
    font-size: 95%;
    font-weight: normal;
    font-style: italic;
}

.control-label .text-right {
    display: block;
}

.input-sm {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ecf0f5;
    border-color: #c5d2e1;
}

.btn-file-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    line-height: 24px;
}

.btn-file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/** INPUT GROUPS **/

.input-group-btn>.btn {
    height: 38px;
}

.input-group-btn>a.btn {
    padding: 9px 12px;
}

.input-group-addon {
    background-color: #ECF0F5;
    border: 1px solid #d2dce7;
    border-radius: 3px;
    font-weight: 400;
    font-size: 13px;
}

.input-group-more {
    background-color: #EEEEEE;
    margin: -9px;
    padding-left: 10px;
}

.input-group-more .btn {
    width: 22px;
}

.input-group-more .input-group-btn {
    display: inline-block;
}

.input-group-more .input-group-btn {
    border-left: 2px solid #BBB;
}

.input-sm button {
    height: 30px;
    padding: 4px 12px;
}

.input-group-addon img {
    width: 24px !important;
}

.input-group-addon i {
    width: 24px;
    display: block;
}


/** FORM GROUP **/

.form-group span.text-danger {
    display: block;
}

.form-inline .form-group {
    line-height: 0;
}

.bootstrap-select.form-control:not([class*="span"]) {
    width: 100%;
}

.bootstrap-select .dropdown-menu {
    border-radius: 0;
    margin-top: -2px;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a {
    background-color: #f5f5f5;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark {
    display: inline-block;
    margin-top: 2.5px;
    position: absolute;
    right: 15px;
}

.panel-chart .bootstrap-select.form-control:not([class*="span"]),
.filter-bar .bootstrap-select.form-control:not([class*="span"]),
.navbar-footer .bootstrap-select.form-control:not([class*="span"]) {
    width: 100%;
}

.navbar-footer .bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0;
}


/** FORM CONTROL GROUP **/

.control-group-2>.form-control {
    width: 47.4%;
}

.control-group-2>.form-control.select2-container,
.control-group-2>.btn-group,
.control-group-2>.input-group {
    width: 47.89%;
}

.control-group-3>.form-control,
.control-group-3>.form-control.select2-container,
.control-group-3>.btn-group,
.control-group-3>.input-group {
    width: 30.1%;
}

.control-group>.form-control {
    display: inline-block;
}

.control-group>.form-control.select2-container,
.control-group>.btn-group,
.control-group>.input-group {
    float: left;
}

.control-group>.form-control,
.control-group>.btn-group,
.control-group>.input-group {
    margin-left: 15px;
}

.control-group>.form-control:first-child,
.control-group>.btn-group:first-child,
.control-group>.input-group:first-child {
    margin-left: 0;
}


/** BUTTONS GROUP **/

.bootstrap-select.btn-group .btn .caret {
    margin-top: -1px;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 2px 10px;
}

.btn-group-toggle {
    width: 100%;
}

.btn-group-switch {
    width: 100%;
}

.form-group div:not(.control-group)>.btn-group-switch {
    width: 49%;
}

.form-group .btn-group-switch>.btn {
    width: 100%;
}

.btn-group-switch>.btn {
    overflow: hidden;
    width: 49%;
    border: 0 none;
    text-shadow: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-group-switch .btn:not(.active) {
    text-indent: -200px;
    width: 20%;
    background: #c5d2e1;
    background: -webkit-linear-gradient(top, #d6dfea 0%, #c5d2e1 40%, #b4c5d8 100%);
    background: -moz-linear-gradient(top, #d6dfea 0%, #c5d2e1 40%, #b4c5d8 100%);
    background: -o-linear-gradient(top, #d6dfea 0%, #c5d2e1 40%, #b4c5d8 100%);
    background: -ms-linear-gradient(top, #d6dfea 0%, #c5d2e1 40%, #b4c5d8 100%);
    background: linear-gradient(top, #d6dfea 0%, #c5d2e1 40%, #b4c5d8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d6dfea', endColorstr='#b4c5d8', GradientType=0);
}

.btn-group-switch>.btn.active {
    width: 80%;
    display: inline-block;
}

.btn-group-toggle>.btn {
    width: 50%;
}

.btn-group-3>.btn {
    width: 33.4445%;
}

.btn-group-4>.btn {
    width: 25%;
}

.btn-group-5>.btn {
    width: 20%;
}

.btn-group-6>.btn {
    width: 16.6667%;
}

.btn-group-7>.btn {
    width: 14.2857%;
}

.btn-group-toggle .btn:not(.active) {
    background-color: inherit;
    border-color: #D2DCE7;
    color: inherit;
    text-shadow: 1px 1px 0px #F5F5F5;
    box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
    background-clip: border-box;
}


/** FIELDSET **/

.fieldset-bordered {
    border: 2px dashed #DFE6EE;
    padding: 0 10px;
}

.fieldset-bordered legend {
    border: 0 none;
    margin-bottom: 0;
    width: auto;
}

.fieldset-bordered legend span {
    padding: 10px;
    display: inline-block;
    position: relative;
    background-color: #FFF;
}

legend {
    font-size: 18px;
    color: #484848;
}


/** NAV-TABS **/

.nav-tabs {
    background-color: transparent;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #ECF0F5;
    padding: 0;
    margin-top: 0;
}

.nav-tabs>li+li {
    margin-left: -1px;
}

.nav-tabs>li {
    margin-bottom: -2px;
}

.nav-tabs>li>a {
    border: 0px solid transparent;
    padding: 12px 15px;
    color: #484848;
    font-size: 13px;
    margin-right: 4px;
}

.nav-tabs li a,
.nav-tabs li span {
    outline: 0 none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #FFFFFF;
    border: 0 none;
    border-right: 1px solid #DFE6EE;
    border-left: 1px solid #DFE6EE;
    color: #333;
    font-weight: 400;
}

.nav-tabs>li:first-child.active>a,
.nav-tabs>li:first-child.active>a:hover,
.nav-tabs>li:first-child.active>a:focus {
    border-left: 0 none;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #fff;
    border-width: 0;
    text-decoration: none;
}

@media (max-width: 992px) {
    .nav-tabs {
        padding-bottom: 20px;
    }
    .nav-tabs>li {
        display: inline-block;
        float: none;
        margin-bottom: 6px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border-color: #DFE6EE;
        border-style: solid;
        border-width: 0 0 2px;
    }
}

.nav-tabs .badge {
    padding: 2px 7px;
}

.tab-content {
    background-color: #fff;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 15px;
}

.tab-content>div {
    display: none;
}

.tab-content>div .tab-content {
    border: 0 none;
    padding-left: 0;
    padding-right: 0;
}

#sub-tabs {
    background-color: transparent;
    border-width: 0 0 1px;
}

#sub-tabs li a,
#sub-tabs li span {
    padding: 7px 5px 7px 10px;
}

#sub-tabs li.active a,
#sub-tabs li.active span {
    border-color: #c5d2e1;
    border-style: solid;
    border-width: 0 0 3px;
}

#sub-tabs li a:hover,
#sub-tabs li span:hover,
#sub-tabs li a:focus,
#sub-tabs li span:focus {
    border-bottom: 3px solid #ebf0f5;
}

#sub-tabs li>a i {
    width: 20px;
}

.nav-stacked {
    border: 0 solid #DFE6EE;
    border-radius: 0;
}

.nav-stacked>li>a {}

.nav-stacked>li.active>a,
.nav-stacked>li.active>a:hover,
.nav-stacked>li.active>a:focus {
    border: 1px solid #DFE6EE;
    border-right-width: 0;
    border-left: 1px solid #DFE6EE !important;
    border-radius: 3px 0 0 3px;
    color: #333;
    font-weight: bold;
    margin-right: -1px;
    z-index: 1;
}

.nav-stacked>li>a:hover {
    margin-right: 0;
}

.tab-pane .tab-pane-title {
    padding: 0 0 10px;
    margin: 25px 0px;
    border-bottom: 1px solid rgb(236, 240, 245);
    font-size: 20px;
}

.tab-pane .tab-pane-title:first-child {
    margin-top: 0;
}


/** BUTTONS **/

.btn {
    border-radius: 2px;
    outline: 0 none;
    font-weight: 400;
    font-size: 12px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

a.btn:active,
a.btn.active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.btn-sm,
.btn-group-sm>.btn {
    border-radius: 2px;
}

a:focus {
    outline-offset: -1px;
}

.btn-default {
    border-color: #d2dce7;
    text-shadow: 1px 1px 0 #f5f5f5;
    box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
    background-clip: padding-box;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #ecf0f5;
    border-color: #d2dce7;
    box-shadow: inset 0px 3px 5px rgba(210, 220, 231, 0.825);
}

.btn-success {
    text-shadow: 1px 1px 0 #3d8b3d;
    background-color: #4CAE4C;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #47a447;
    border-color: #398439;
}

.btn-primary {
    background-color: #3681c2;
    text-shadow: 1px 1px 0 #255986;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #2d6da3;
    border-color: #204d74;
}

.btn-info {
    text-shadow: 1px 1px 0 #2185a3;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #39b3d7;
    border-color: #269abc;
}

.btn-danger {
    text-shadow: 1px 1px 0 #ac2925;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #d2322d;
    border-color: #ac2925;
}

.btn-warning {
    text-shadow: 1px 1px 0 #b9730f;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #ed9c28;
    border-color: #d58512;
}

.btn-edit,
.btn-view,
.btn-grey {
    background-color: #3681c2;
    border-color: #357ebd;
    color: #FFF;
    text-shadow: 1px 1px 0px #255986;
}

.btn-edit:hover,
.btn-view:hover,
.btn-grey:hover,
.btn-edit:focus,
.btn-view:focus,
.btn-grey:focus {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #FFF;
}

.action .btn {
    background-color: #FFF;
    text-shadow: unset;
}

.action .btn:hover,
.action .btn:focus {
    background-color: #FFF;
}

.action .btn-edit,
.action .btn-view,
.action .btn-grey,
.action .btn-primary {
    border-color: #30786C;
    color: #30786C;
}

.action .btn-edit:hover,
.action .btn-view:hover,
.action .btn-grey:hover,
.action .btn-edit:focus,
.action .btn-view:focus,
.action .btn-grey:focus {
    border-color: #30786C;
}

.action .btn-success {
    color: #66C2A5;
}

.action .btn-warning {
    color: #66C2A5;
}

.action .btn-info {
    color: #fff;
}

.action .btn-danger {
    color: #D9534F;
}

.action .btn i {
    font-size: 14px;
}

.btn-lg i {
    font-size: 16px;
}

.btn-calendar,
.btn-list {
    padding: 5px 12px;
    position: absolute;
    color: #333;
    margin-top: 3px;
}

.btn-calendar:hover,
.btn-list:hover {
    background-color: #DDD;
}

.btn-list {}

.btn-calendar .fa-calendar,
.btn-list .fa-list {
    font-size: 24px;
}

.btn-favorite {
    color: #F5D99E;
}

.btn-favorite:hover {
    color: #F3D086;
}

.btn-favorite-o {
    color: #555555;
}

.btn-add-image {
    background-color: #EEEEEE;
    line-height: 30px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}

.btn-add-image:hover {
    background-color: #3681c2;
    color: #FFF;
}

.btn-add-image i {
    font-size: 26px;
}

.btn-group>.btn-primary.active:hover,
.btn-group>.btn-primary.active {
    background-color: #5384ae;
}

.btn-group>.btn-success.active:hover,
.btn-group>.btn-success.active {
    background-color: #67ae67;
}

.btn-group>.btn-danger.active:hover,
.btn-group>.btn-danger.active {
    background-color: #d25753;
}

.btn-group>.btn-warning.active:hover,
.btn-group>.btn-warning.active {
    background-color: #e6a84f;
}

.btn-group>.btn-info.active:hover,
.btn-group>.btn-info.active {
    background-color: #5cbad5;
}


/** DROPDOWN MENU **/

.dropdown-menu {
    border: 1px solid #dfe6ee;
    box-shadow: 0 6px 12px rgba(95, 128, 171, 0.176);
    font-size: 13px;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu>li>a {
    cursor: pointer;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu .menu>li>a:focus,
.dropdown-menu .menu>li>a:hover {
    background-color: #ecf0f5;
    text-decoration: none;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu .divider {
    background-color: #f2f5f8;
}


/** PANELS **/

.panel {
    border-radius: 3px;
    box-shadow: none;
}

.panel-default {
    border-color: #ECF0F5;
    border-width: 1px;
}

.panel-default>.panel-heading {
    background-color: #FFFFFF;
    border-color: #ecf0f5;
    border-width: 0 0 2px;
    padding: 10px 15px;
}

.panel-title {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    font-weight: 400;
}

.panel-footer {
    background-color: #f9fafc;
    border-top: 1px solid #dfe6ee;
    border-bottom: 1px solid #dfe6ee;
}

.panel-body .list-group>.list-group-item {
    border-radius: 0;
}

.panel>.panel-heading .btn {
    background-color: transparent;
}

.panel>.panel-heading .btn .btn.active,
.panel>.panel-heading .btn .btn:active {
    box-shadow: none;
}


/** PANEL TABS **/

.panel-tabs>.panel-heading {
    padding: 0;
}

.panel-tabs .panel-heading .nav-tabs {
    border-width: 0;
}

.panel-tabs .panel-heading .pull-right {
    margin-right: 15px;
    margin-top: -34px !important;
}


/** DASHBOARD STATISTICS **/

.panel-statistics {
    font-size: 12px;
}

.panel-statistics .list-group span {
    float: right;
    font-size: 20px;
    line-height: 16px;
}

.panel-statistics .list-group-item:first-child {
    border-width: 0 0 1px;
}

.dropdown-menu-range {
    border-bottom: 0;
    min-width: 100px;
}

.dropdown-menu-range>li>a {
    font-size: 12px;
}

.statistics .panel-primary>.panel-body .statistics .panel-primary>.panel-footer {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.statistics .panel-info>.panel-body,
.statistics .panel-info>.panel-footer {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}

.statistics .panel-success>.panel-body,
.statistics .panel-success>.panel-footer {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.statistics .panel-warning>.panel-body,
.statistics .panel-warning>.panel-footer {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}

.statistics .panel-danger>.panel-body,
.statistics .panel-danger>.panel-footer {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.mini-statistics .panel .panel-body {
    padding: 20px;
}

.dashboard .row {
    padding-right: 5px;
    padding-left: 5px;
}

.dashboard .row>div {
    padding-right: 8px;
    padding-left: 8px;
}

.stat-icon {
    padding-right: 0;
}

.stat-icon span {
    display: block;
    padding: 15px;
    text-align: center;
}

.stat-content {}

.stat-icon .fa {
    /*transform: rotate(-15deg);*/
    /*position: absolute;*/
    /*right: 14px;*/
    /*top: -25px;*/
}

.stat-content .stat-heading {
    display: block;
}

.stat-content .stat-text {
    font-size: 24px;
    display: block;
    line-height: 36px;
}


/** DASHBOARD CHART PANEL **/

.panel-chart .panel-heading {}

.chart-responsive {
    width: 100%;
}

.chart-legend {
    text-align: center;
}

.chart-legend span+span {
    margin-left: 10px;
}


/** DASHBOARD NEWS BOX **/

.panel-news-feed .list-group h5 {
    margin-top: 0;
}


/** SELECTED PANEL **/

.panel-selected {
    border: 1px solid #dce4ec !important;
    min-height: 150px;
}

.panel-selected .img img {
    cursor: pointer;
}

.panel-selected .img {
    text-align: center;
    width: 10%;
}

.panel-selected .name {
    width: 30%;
}

.panel-selected table {
    width: 100%;
}

.panel-selected table tbody td {
    padding: 5px 8px;
}

.panel-selected .db_tables td {
    padding: 5px;
}


/** PANEL TABLE **/

.panel-table .panel-heading .pull-right {
    margin-top: -27px;
}

.panel-table .panel-heading .btn-filter {
    background-color: transparent;
    margin-left: 5px;
    line-height: 25px;
    border-color: #D2DCE7;
}

.panel-table .panel-heading .btn-filter>.fa {
    font-size: 16px;
}

.panel-table .panel-heading .btn-filter>.fa-filter::after {
    content: "\f107";
    font-size: 14px;
    margin-left: 5px;
}

.panel-table .panel-heading .btn-filter.active>.fa-filter::after {
    content: "\f106";
}

.panel-table .panel-filter {
    border-bottom: 1px solid #ecf0f5;
    display: none;
    padding: 5px 10px;
}

.clickable {
    cursor: pointer;
}

.panel-table .list-group {
    margin-bottom: 0;
}

.panel-table .list-group-item:first-child {
    border-radius: 0;
    border-top: 0 none;
}

.panel-table .list-group-item {
    border-width: 1px 0 0;
}

.panel-table .list-group-item:last-child {
    border-radius: 0;
    border-width: 1px 0;
}

.tab-pane .panel-table {
    border: 0 none;
    box-shadow: none;
    margin: -15px 0px;
}

.tab-pane .panel-table .table-responsive {
    padding: 0px;
}


/** FILTER HEADING **/

.filter-bar .fa {
    color: #ffffff;
}

.filter-bar .form-control {
    border-radius: 3px;
}

.filter-bar .pull-left,
.filter-bar .pull-right {
    float: none !important;
}

.filter-bar .text-right {
    text-align: left;
}

.filter-bar .btn {
    padding: 4px 10px;
    border-radius: 3px;
}

@media (min-width: 992px) {
    .filter-bar .pull-left {
        float: left !important;
    }
    .filter-bar .pull-right {
        float: right !important;
    }
    .filter-bar .text-right {
        text-align: right;
    }
    .input-sm {
        padding: 5px 4px;
    }
}


/** LIST GROUP **/

.list-group-item {
    border-color: #ecf0f5;
    border-width: 1px 0;
}

.list-group-item:first-child {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

a.list-group-item:focus,
a.list-group-item:hover {
    background-color: #f9fafc;
}

.panel .list-group {
    margin-bottom: 0;
}


/** CHECK LIST GROUP **/

.check-list-group .check-info {
    display: inline-block;
    padding-left: 35px;
}

.check-list-group .check-icon {
    display: inline-block;
    margin-bottom: -15px;
}

.check-list-group .check-icon i {
    color: #555;
}


/** TABLE **/

.panel .table-responsive {
    padding: 10px;
}

.table-responsive .table-responsive {
    border-width: 0;
    margin-bottom: 0;
}

.table-responsive .table-border,
.table {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    font-size: 13px;
}

.table-border {
    background-color: #FFF;
    border: 0 solid #E7E7E7;
}

.table-striped td {
    height: 50px;
}

.table-no-spacing td {
    height: auto;
}

.table>thead>tr>th {
    border-bottom: 2px solid #ecf0f5;
    font-weight: 600;
    font-size: 14px;
    color: #484848;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: transparent;
}

.table-border>thead>tr>th,
.table-border>thead>tr>td,
.table-border>thead:first-child>tr:first-child>th,
.table-border>thead:first-child>tr:first-child>td {
    padding: 6px;
}

.table tbody tr:last-child td {
    border-bottom: 0 none;
}

.table-border>tbody>tr:hover>td,
.table-border>tbody>tr:hover>th {
    background-color: #f9fafc;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid #ecf0f5;
    vertical-align: middle;
    padding: 6px;
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: #F9FAFC;
}

table .action {
    width: 9.33% !important;
    padding: 5px 0 7px 7px;
}

table .action-one {
    width: 4.33% !important;
}

table .action-three {
    width: 16.23% !important;
}

table .action .btn {
    display: inline-block;
    padding: 8px 10px;
}

.table .action .btn-group-xs>.btn,
.table .action .btn.btn-xs {
    padding: 2px 10px;
}

table .id,
table .id .sort {
    color: #656565;
    width: 4.33% !important;
}

.table>tbody>tr>.no-line {
    border-top: none;
}

.table>thead>tr>.no-line {
    border-bottom: none;
}

.table>tbody>tr>.thick-line {
    border-top-width: 2px;
    border-top-style: solid;
}


/** TABLE SORTABLE **/

.table-sortable {}

.table-sortable td {
    padding: 4px 7px;
}

.table-sortable .fa-sort,
.table-sortable .fa-times,
.table-sortable .fa-plus {
    cursor: pointer;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 1;
    z-index: 2000;
    background-color: #FFF !important;
}

.placeholder {
    background: transparent !important;
    position: relative;
    margin: 0;
    padding: 0px;
    height: 50px;
    border: 2px dashed #ECF0F5;
}

.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
}

.placeholder td {
    background-color: transparent !important;
}


/** SORTER **/

.sort,
.sort:hover,
.sort:focus {
    color: #484848;
    text-decoration: none;
    display: inline-block;
    min-width: 40px;
}

.sort .fa {
    width: 12px;
    height: 12px;
    visibility: hidden;
    margin-left: 5px;
}

.sort:hover .fa,
.sort .active {
    visibility: visible;
    display: inline-block;
}

table thead .fa-sort-ASC:before {
    content: "\f0de";
}

table thead .fa-sort-DESC:before {
    content: "\f0dd";
}

table thead th .sort:hover .fa-sort-ASC:before {
    content: "\f0dd";
}

table thead th .sort:hover .fa-sort-DESC:before {
    content: "\f0de";
}


/** THEMES **/

.panel-theme {
    position: relative;
}

.panel-theme .label-active {
    background-color: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 45px solid transparent;
    border-top: 45px solid #66C2A5;
    z-index: 9;
    padding: 0;
    border-radius: 0;
}

.panel-theme .metas {
    padding: 10px 0;
}

.panel-theme .theme-img {
    position: relative;
}

.panel-theme .theme-img .preview-thumb {
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
}

.panel-theme .theme-img:hover img {
    opacity: 0.2;
}

.panel-theme .theme-img:hover .preview-thumb {
    display: block;
}


/** MESSAGES **/

.list-group-hover .list-group-item.active,
.list-group-hover .list-group-item.active:focus,
.list-group-hover .list-group-item.active:hover {
    background-color: transparent;
    border-color: #337ab7;
    border-width: 0 0 0 3px;
    color: #333;
    font-weight: bold;
}

.message-controls,
.message-view-controls {
    padding: 5px;
}

.message-view-info {
    padding: 10px;
}

.message-controls .btn,
.message-view-controls .btn {
    height: 32px;
}

.message-view-info h4,
.message-view-info h6 {
    margin-bottom: 8px;
    margin-top: 0;
}

.message-view-controls.text-center {
    border-bottom: 1px solid #ecf0f5;
    border-top: 1px solid #ecf0f5;
}

.message-body {
    background-color: #fff;
    padding: 15px;
}

.message-list .message {
    font-weight: 400;
}

.message-list .message-unread .message-subject {
    font-weight: bold;
}

.message-list .message-read .message-subject {
    font-weight: 400;
}

.message-controls .btn {
    margin-right: 5px;
}

.message-controls .btn-group,
.message-view-controls .btn-group {
    width: auto;
}

.message-controls .btn-group>.btn,
.message-view-controls .btn-group>.btn {
    width: 100%;
}


/** ICONS **/

.icon {
    display: inline-block;
    vertical-align: text-bottom;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.fa-stack {
    line-height: 1.8em;
}

.fa-stack-2x {
    font-size: 1.8em !important;
}

.fa-sort,
.fa-times,
.fa-times-circle,
.fa-plus {
    cursor: pointer;
}

.fa-star-special {
    color: #7ed4ff;
}

.fa-star-special.disabled {
    color: #cceeff;
}


/** PAGINATION **/

.pagination-bar {
    border-top: 1px solid #ecf0f5;
    margin-bottom: 5px;
    padding: 15px;
}

.pagination-bar .links,
.pagination-bar .info {
    float: left;
}

.pagination-bar .links {
    margin-right: 10px;
    float: right;
}

.pagination-bar .info {
    padding-top: 6px;
}

.pagination-bar .info>span {
    color: #656565;
    font-size: 85%;
}

.pagination-bar .links ul {
    margin: 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination>li>a,
.pagination>li>span {
    border: 1px solid #d2dce7;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: #ecf0f5;
    border-color: #d2dce7;
}


/** FOOTER **/

#footer {
    background-color: #ecf0f5;
    border-left: 1px solid #ecf0f5;
    font-size: 11px;
    padding: 5px 20px;
}

.text-version {
    color: #777;
}

@media (min-width: 768px) {
    #footer {
        position: inherit;
        margin: 0px;
    }
}

.navbar-footer .navbar-form {
    padding-left: 0;
    margin: 5px 0;
}


/* CALENDER */

.table-calendar {
    background-color: #FFF;
    margin-bottom: 0;
}

.table-calendar .title {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

.table-calendar .prev,
.table-calendar .next {
    padding: 0;
}

.table-calendar .next {
    text-align: left;
}

.table-calendar .prev {
    text-align: right;
}

.calender-nav {
    text-decoration: none;
    padding: 7px 15px;
    display: block;
    height: 45px;
}

.calender-nav i {
    font-size: 22px;
}

.table-calendar .calender-nav:hover {
    background-color: #F7F7F7;
}

.table-calendar span {
    display: block;
    color: #000000;
    padding: 2px 8px;
    font-size: 14px;
}

.table-calendar tr:first-child>th {
    border-top: 1px solid #ECF0F5;
}

.table-calendar tr:first-child>th:first-child {
    border-left: 1px solid #ECF0F5;
}

.table-calendar tr:first-child>th:last-child {
    border-right: 1px solid #ECF0F5;
}

.table-calendar .week {
    background: none repeat scroll 0 0 #F9FAFC;
    font-weight: bold;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #ECF0F5;
    border-right: 1px solid #ECF0F5;
    border-top: 1px solid #ECF0F5;
    text-transform: uppercase;
    height: 30px !important;
}

.table-calendar .day,
.table-calendar .today {
    height: 50px !important;
    padding: 0;
    border-bottom: 1px solid #ECF0F5 !important;
    border-right: 1px solid #ECF0F5;
    text-align: right;
    position: relative;
    vertical-align: top;
    width: 6%;
}

.table-calendar .today a {
    background-color: #428bca;
}

.table-calendar .today span {
    font-weight: bold;
    color: #FFF;
}

.table-calendar .week:first-child,
.table-calendar .day:first-child,
.table-calendar .today:first-child {
    border-left: 1px solid #E7E7E7;
}

.table-calendar .day a,
.table-calendar .today a {
    display: block;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

.table-calendar .other span {
    color: #888;
}

.table-calendar td .booked {
    background: #ffa59a;
}

.table-calendar td .half_booked {
    background: #ffd89a;
}

.table-calendar td a:hover,
.table-calendar td .selected {
    background-color: #E7E7E7;
    border: 1px solid #414141;
    height: 100%;
}

.table-calendar td .selected span,
.table-calendar td .no_booking:hover,
.table-calendar td a:hover span,
.table-calendar td .no_booking.selected,
.table-calendar td .no_booking.selected span {
    background: #FFF;
    color: #333;
}

.table-calendar .booked span,
.table-calendar .half_booked span {
    background: #F7F7F7;
}

.legends {
    font-size: 10px;
    margin: 0;
}

.legends>span {
    padding: 2px 10px;
}

.legends .no_booking {
    border: 1px solid #DDDDDD;
}

.legends .booked {
    background: #ffa59a;
    border: 1px solid #ffa59a;
}

.legends .half_booked {
    background: #ffd89a;
    border: 1px solid #ffd89a;
}


/** THUMBNAIL LIST**/

.thumbnail-list {
    list-style: none outside none;
    padding: 0;
}

.thumbnail-list-horizontal {
    border: 1px solid #dfe6ee;
}

.thumbnail-list>li {
    float: left;
    margin-right: 20px;
}

.thumbnail-list-horizontal>li {
    border-bottom: 1px solid #dfe6ee;
    padding: 20px 0;
}

.thumbnail-list-horizontal>li,
.thumbnail-list-horizontal .btn-add-image {
    display: table;
    float: none;
    width: 100%;
}

.thumbnail-list-horizontal .thumbnail {
    margin-bottom: 0;
}

.thumbnail-list .thumbnail .preview {
    height: 80px;
}

.thumbnail-list .thumbnail .preview img {
    width: 110px !important;
}

.thumbnail .preview {
    padding: 10px;
    text-align: center;
}

.thumbnail.imagebox {
    border: 1px solid #d2dce7;
    text-align: center;
}

.thumbnail .preview img {
    display: inline;
    width: 160px !important;
}

.imagebox-sm .preview img {
    width: 80px !important;
}

.thumbnail {
    border: 0px solid #d2dce7;
    border-radius: 0px 0px 3px 3px;
    padding: 0;
}

.thumbnail .caption {
    padding-top: 20px;
}

.thumbnail .caption h1,
.thumbnail .caption h2,
.thumbnail .caption h3,
.thumbnail .caption h4,
.thumbnail .caption h5 {
    margin-top: 0;
}

.thumbnail .caption .name {
    border-bottom: 1px solid #d2dce7;
    margin-bottom: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.thumbnail .caption .badge {
    font-size: 50%
}

.thumbnail .caption a {
    padding: 4px 8px;
    font-size: 12px;
}

.thumbnail .caption .buttons {
    padding: 10px 0px;
    border-top: 1px solid #ECF0F5;
    border-bottom: 1px solid #ECF0F5;
    margin-bottom: 10px;
}

.red {
    color: #D9534F;
}

.green {
    color: #00B87A;
}

.error_php {
    border: 1px solid #990000;
    padding-left: 20px;
    margin: 0 20px 10px 180px;
}

.error_php:first-child {
    margin-top: 45px;
}


/*** MAIL TEMPLATE ***/

.table-templates>tbody>tr>td {
    padding: 0;
}

.table-template {
    margin-bottom: 0;
    width: 100%;
}

.template-heading {
    padding: 6px;
}

#accordion .template-heading tr .action .up {
    display: block !important;
}

#accordion .template-heading tr .action .down {
    display: none !important;
}

#accordion .template-heading tr.collapsed .action .up {
    display: none !important;
}

#accordion .template-heading tr.collapsed .action .down {
    display: block !important;
}

.table-templates .text-right,
.table-template .text-right {
    width: 20%;
}

.template-content {
    background-color: #FFF;
    border-top: 1px solid #E3E3E3;
    padding: 25px;
}

.supported-var {
    margin: 0px;
    list-style: none outside none;
}

.supported-var a {
    border-width: 0 0 2px;
    padding: 5px 15px;
}

.supported-var a>span {
    border-radius: 4px;
    font-weight: normal;
    padding: 4px 0px;
    width: 30%;
    display: inline-block;
}


/*** EXTRA CHARGE BOX***/

.extra-charge-heading {
    padding: 0 0 5px;
}

.extra-charge-content {}

a[aria-expanded="true"] .fa-chevron-up {
    display: block
}

a[aria-expanded="false"] .fa-chevron-up {
    display: none;
}

a[aria-expanded="true"] .fa-chevron-down {
    display: none;
}

a[aria-expanded="false"] .fa-chevron-down {
    display: block;
}

a.expanded .fa-angle-double-up {
    display: block
}

a.collapsed .fa-angle-double-up {
    display: none;
}

a.expanded .fa-angle-double-down {
    display: none;
}

a.collapsed .fa-angle-double-down {
    display: block;
}


/*** METIS FOLDER TREE***/

.metisHolder {
    background-color: #f7f7f7;
    border-left: 1px solid #e7e7e7;
    overflow: scroll;
    height: 574px;
}

.metisHolder .nav {
    padding: 0 15px;
    width: 100%;
}

.metisFolder {
    padding-left: 0;
}

.metisFolder ul {
    padding-left: 25px;
}

.metisFolder,
.metisFolder ul {
    list-style: none;
}

.metisFolder li {
    position: relative;
}

.metisFolder li a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    text-decoration: none;
    outline: 0 none;
    cursor: pointer;
}

.metisFolder ul:before {
    position: absolute;
    border-left: 1px dotted #333;
    content: "";
    width: 30px;
    top: 25px;
    left: 5px;
    bottom: 17px;
}

.metisFolder ul>li:before {
    position: absolute;
    border-top: 1px dotted #333;
    content: "";
    width: 14px;
    top: 13px;
    left: -20px;
}

.metisFolder .fa {
    font-size: 12px;
}

.metisFolder .active>a {
    font-weight: bold;
}


/*** THEME EDITOR ***/

.theme-tree-toggle {
    border: 0 none;
    bottom: 0;
    color: #333;
    font-size: 20px;
    left: -21px;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 10%;
    z-index: 99999;
}

.theme-tree-toggle:hover,
.theme-tree-toggle:focus {
    color: #333;
}

.theme-tree-toggle .fa {
    background: #EEE;
    border: 1px solid #DFE6EE;
    border-right: 0 none;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    padding: 5px 0 5px 5px;
    top: 45%;
    z-index: 5;
}

.theme-tree-toggle .fa:hover,
.theme-tree-toggle .fa:focus {
    background: #DDD;
    border: 1px solid #DFE6EE;
}

.theme-editor-wide .theme-tree-toggle {
    left: -4px;
}

.theme-editor textarea {
    background: #F5F5F5;
    font-size: 14px;
    width: 100%;
}

.editor-text {
    border-bottom: 1px solid #E7E7E7;
    margin: 0 15px;
    padding: 15px 0;
}

#editor .col-sm-3 {
    width: 20%;
}

#editor .col-sm-9 {
    width: 79%;
}

.CodeMirror {
    height: 575px !important;
    line-height: 1.2 !important;
}

.CodeMirror-gutters {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #ddd;
}

@media (min-width: 768px) {
    .theme-sections .nav-stacked {
        min-height: 450px;
    }
    .theme-sections .tab-content {
        margin-top: 0;
    }
}

.theme-sections .tab-content {
    min-height: 350px;
}

.theme-sections .tab-pane .section-heading {
    padding: 10px 15px;
    margin: -15px 0 15px;
    border-bottom: 2px solid #ECF0F5;
}


/** COLOR PICKER **/

.input-group-addon.lg-addon {
    padding: 5px;
}

.ti-color-picker .input-group-addon i {
    height: 22px !important;
    width: 24px !important;
}


/** POPOVER **/

.popover {
    border-color: #D2DCE7;
}

.popover.bottom .arrow {
    border-bottom-color: #D2DCE7;
}

.popover-title {
    background-color: #F9FAFC;
    border-bottom: 1px solid #ECF0F5;
}


/** RATING **/

.rating {
    display: inline-block;
}

.rating>.fa {
    color: #fdb242;
    width: 1.1em;
}

.rating-sm>.fa {
    font-size: 14px;
    line-height: 1.8;
}

.dl-horizontal-rating dt {
    width: 60px;
    text-align: left;
}

.dl-horizontal-rating dd {
    margin-left: 70px;
}

.rating-inline {
    margin-left: 0;
}

.rating-inline>li {
    padding-left: 0;
    padding-right: 15px;
    line-height: 1.5;
}

.rating-inline .rating {
    padding-top: 5px;
}


/** DELIVERY AREAS **/

.panel-delivery-areas {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
}

.panel-delivery-areas .panel-title {
    font-size: 20px;
    font-weight: normal;
}

.panel-delivery-areas .panel>.panel-heading {
    cursor: pointer;
}

.panel-delivery-areas .panel>.panel-heading:hover .area-buttons,
.panel-delivery-areas .panel>.panel-heading:focus .area-buttons {
    display: block !important;
    margin-top: 2px;
}

.panel-delivery-areas>.panel-body {
    max-height: 452px;
    overflow-x: hidden;
}

.panel-delivery-areas .btn-group-toggle {
    width: 100%;
}

.panel-heading .area-toggle,
.panel-heading .area-name,
.panel-heading .area-color,
.panel-heading .area-buttons {
    display: inline-block;
}

.panel-heading .area-color {
    margin: 0 10px -3px;
}

.panel-heading:not(.collapsed) .area-toggle .up,
.panel-heading.collapsed .area-toggle .down {
    display: none !important;
}

.panel-heading.collapsed .area-toggle .up,
.panel-heading:not(.collapsed) .area-toggle .down {
    display: block !important;
}


/** LAYOUT MODULES DRAG & DROP **/

.modules-row {
    padding-left: 10px;
    padding-right: 10px;
}

.modules-row>div {
    padding-left: 5px;
    padding-right: 5px;
}

.modules-row .btn,
.panel-partials .btn {
    text-align: left;
}

.partials {
    background-color: #f6f8fa;
    border-color: #ECF0F5;
    overflow: hidden;
}

.partials>div:first-child {
    padding-right: 5px !important;
}

.partials>div:last-child {
    padding-left: 5px !important;
}

.partials .panel-partial {
    padding: 5px;
}

.panel-partial,
.panel-partial-module {
    border-color: #d2dce7;
}

.partials .panel-partial-module {
    margin-bottom: 15px;
}

.panel-partial-module .panel-heading {
    background-color: #ECF0F5;
    border-radius: 3px;
}

.partials .panel-partial>.panel-body {
    padding: 15px 10px;
}

.partials .control-group-2>.form-control {
    width: 44%;
}


/** DATE TIME PICKER **/

body .bootstrap-timepicker-widget table td input {
    padding: 3px;
    width: 42px;
}

body .bootstrap-timepicker-widget table td a i {
    font-size: 12px;
}

body .datepicker.dropdown-menu {
    border-radius: 0;
}

body .datepicker-dropdown.datepicker-orient-bottom:before {
    bottom: -7px;
}

body .datepicker-dropdown.datepicker-orient-bottom:after {
    bottom: -5px;
}


/** SELECT 2 **/

.form-control.select2-container {
    width: 100%;
}

.select2-container .select2-choice {
    height: 36px;
    line-height: 36px;
    background-image: none;
}

.select2-container.input-sm .select2-choice {
    height: 28px;
    line-height: 28px;
}

.select2-drop.select2-drop-above {
    border-radius: 0;
    margin-top: -2px;
}

.select2-drop {
    border-radius: 0;
    margin-top: -1px;
}

.select2-search {
    padding: 0;
}

.select2-search input {
    border-color: #d2dce7;
    border-left: 0 none;
    border-right: 0 none;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    box-shadow: none;
}

.form-control.select2-container-active {
    border-color: #4796c4 !important;
}

.select2-drop-active {
    border-color: #d7e9f3 #4796C4 #4796C4 !important;
    border-width: 1px;
    border-style: solid;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0;
}

.form-control .select2-choice {
    border-radius: 0;
}

.form-control.select2-container.select2-dropdown-open {
    border-radius: 0;
}

.select2-dropdown-open .select2-choice {
    background-color: #fff;
}

.select2-container .select2-choice .select2-arrow {
    background: #ECF0F5;
    border-left: 1px solid #d2dce7;
    width: 25px;
    text-align: center;
}

.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b {
    background-image: none !important;
}

.select2-container .select2-choice .select2-arrow b {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    color: #686868;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select2-container .select2-choice .select2-arrow b:before {
    content: "\f0d7";
}

.select2-dropdown-open .select2-choice .select2-arrow b:before {
    content: "\f0d8";
}

.select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #3681c2;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none;
    border: 0 none;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 0;
}

.select2-container-multi .select2-choices {
    background-image: none;
    max-height: 200px;
    overflow: auto;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #ECF0F5 none;
    border: 1px solid #D2DCE7;
    box-shadow: none;
    padding: 5px 5px 5px 18px;
    margin: 5px 0px 5px 5px;
}

.select2-search-choice-close {
    top: 6px;
}


/** DATE RANGE PICKER **/

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    min-width: 20px !important;
}


/** PROGRESS **/

.progress {
    position: relative;
    height: 25px;
    background-color: #ECF0F5;
    box-shadow: none;
    border-radius: 3px;
}

.progress-bar {
    box-shadow: none;
    border-radius: 3px;
}

.progress>.progress-type {
    position: absolute;
    right: 0px;
    padding: 3px 10px 3px 10px;
}

.progress>.progress-completed {
    position: absolute;
    left: 0px;
    padding: 3px 10px 2px;
    color: #FFF;
}


/** NOTIFICATIONS **/

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
}

.timeline:before {
    background-color: #337AB7;
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    left: 97.5px;
    margin-left: -1.5px;
}

.timeline>li {
    position: relative;
    margin-left: 90px;
}

.timeline>.time-label {
    margin-bottom: 25px;
    margin-left: 60px;
    background-color: #ECF0F5;
}

.timeline>.time-label::after {
    background-color: #337AB7;
    content: " ";
    width: 30px;
    height: 3px;
    display: block;
    margin-left: 24px;
}

.timeline>.time-label>span {
    display: inline-block;
    padding: 15px 10px 6px;
    font-size: 14px;
    text-align: center;
    width: 85px;
}

.timeline .time-label:first-child>span {
    padding-top: 0;
}

.timeline .timeline-item {
    margin-bottom: 30px;
}

.timeline .timeline-time {
    position: absolute;
    left: -90px;
    text-align: left;
    padding: 5px 10px;
    box-sizing: border-box;
}

.timeline-item .timeline-time>span {
    display: block;
}

.timeline-item .timeline-time>span:first-child {
    font-weight: bold;
}

.timeline-item .timeline-time>span:last-child {
    font-size: 12px;
}

.timeline-item .timeline-icon {
    text-align: center;
    float: left;
    padding: 2px;
    width: 15px;
    height: 15px;
    z-index: 100;
    border-radius: 50%;
    border: 3px solid #ECF0F5;
    margin-top: 10px;
}

.timeline-item .timeline-icon .fa {
    font-size: 11px;
    display: none;
}

.timeline .timeline-body {
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(185, 200, 218, 0.79);
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 0;
    padding: 12px;
    position: relative;
}

.timeline .timeline-body::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 9px 9px 0px;
    border-color: transparent #FFF transparent transparent;
    left: 0px;
    top: 10px;
    margin-left: -9px;
}

.timeline .timeline-header {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.timeline .timeline-header b {
    font-weight: 400;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li>.timeline-icon {
        position: absolute;
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
}


/** MODAL **/

.modal-content>.close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 32px;
}

#media-manager .modal-lg {
    width: 85%;
}

#media-manager.modal {
    z-index: 9999999;
}


/** NOTE EDITOR **/

.note-editor.panel {
    border-radius: 3px;
    border: 1px solid #D2DCE7;
}

.note-editor .panel-heading {
    padding: 5px;
    border-color: #D2DCE7;
}

.note-editor .btn {
    border-width: 1px !important;
}

.note-editor.panel>.panel-heading .btn {
    padding: 6px 12px;
}

.panel-heading.note-toolbar>.btn-group {
    margin-top: 0;
}

.note-editor .btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #D2DCE7;
}

.note-editor .note-statusbar {
    background-color: #F9FAFC;
}


/** PROFILER **/

@media(min-width:768px) {
    #codeigniter_profiler {
        margin-left: 220px !important;
        border-top: 1px solid #E7E7E7;
        border-left: 1px solid #E7E7E7;
    }
}

body .error-php {
    margin-left: 240px;
}


/** End PROFILER **/

.change_lang {
    border: 0px;
    background-color: transparent;
    color: #fff;
    -webkit-appearance: none;
    outline: none;
    text-transform: capitalize;
}

.spacy {
    margin-left: 15px;
    color: #fff;
}

.lang_color {
    font-size: 14px;
    color: #fff;
}

.text-right {
    text-align: right;
    float: right;
    margin: 10px;
}

.label-text {
    padding: 20px;
}

.tooltips {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #273649;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    float: left;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
}

.policy_label {
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.policy_content {
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    font-weight: bold;
}

.btn-info {
    color: #fff;
    background-color: #30786C !important;
    border-color: #30786C !important;
}