.local-box-fluid {
background-color: #66C2A5;
margin: 25px auto 0;
padding-bottom: 0px;
z-index: 999;
position: relative;
top: 0;
}
.local-box-fluid .panel {
background-color: #66C2A5;
border-color: #66C2A5;
}
@media (min-width: 768px) {
.local-box-fluid {
margin: 0 auto;
padding-bottom: 15px;
border-radius: 25px;
position: absolute;
left: 10%;
top: 300px;
width: 80%;
}
}
.local-box-fluid .container {
width: 100%;
}
.local-box-fluid h2 {
color: #fff;
font-size: 24px;
font-weight: 600;
margin: 5px 0px 20px !important;
text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}
@media (max-width: 768px) {
.local-box-fluid h2 {
font-size: 16px;
}
}
.local-box-fluid .form-control {
border: 0 none;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}
.local-box-fluid .input-group-addon {
border: 0 none;
border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
}
.postcode-control:focus {
box-shadow: none;
}

/*** Location Search ***/
.location-search {
background-color: #66C2A5;
padding: 15px 15px 20px;
}
.location-search .heading-section {
padding: 0;
}
.location-search .heading-section h2 {
color: #f0f0f0;
font-size: 48px;
}
.location-search .under-heading {
height: 20px;
}
.location-search .search-label {
color: #FFF;
}
.postcode-group {
width: 100%;
}
.postcode-group .input-group {
margin: 0 auto;
}
.postcode-group .input-group-addon {
color:#FFF;
width: 35%;
font-weight: bold;
}
.postcode-group .postcode-control {
border-radius:5px;
/*width: 70%;*/
}
.location-search .postcode-group .postcode-control {
width: 100%;
}
.close-search {
float: right;
font-size: 32px;
line-height: 24px;
position: absolute;
right: 20px;
top: 5px;
}
#local-alert .close {
    margin-right: 8px;
    margin-top: 6px;
}
/*** Location Search ***/

/*** Location Bar ***/
.panel-local {
background-color: #FFFFFF;
border: 1px solid #dddddd;
box-shadow: none;
margin-bottom: 0;
}
.panel-local .panel-heading {
border-color: #EEEEEE;
overflow: visible;
padding: 0 15px;
display: block;
}
.panel-local .panel-body h2 {
margin: 25px 0;
}
.panel-local h4 {
margin-top: 0;
margin-bottom: 5px;
font-weight: normal;
font-size: 24px;
}
@media (max-width: 768px) {
.panel-local h4 {
font-size: 14px;
}
.box-divider {
border-bottom: 1px solid #e7e7e7;
padding-bottom: 8px;
margin-bottom: 8px;
}
}
.panel-local .panel-body > div {
padding-left: 0;
padding-right: 0;
}
.panel-local dl {
margin-bottom: 0;
}
.panel-local .panel-heading > div {
line-height: 2.1;
padding: 10px 0;
}
.side-bar .panel-local .panel-body > div {
width: 100%;
}
.side-bar .panel-local{
margin-bottom: 0;
}
.side-bar .container-fluid {
padding-right: 0;
padding-left: 0;
}
.side-bar .panel-local .box-one, .side-bar .panel-local .box-two {
margin-bottom: 20px;
}
.panel-local dd, .panel-local dt {
line-height: 1.529;
}
.panel-local .box-one dl.box-image {
margin-left: 95px;
}
.side-bar .panel-local .box-one img {
display: none;
}
.panel-local-hours {
color: #444;
}
.opening-hour dd {
margin-left: 110px;
}
.opening-hour dt {
width: 100px;
text-align: left;
}


/*** End Location Bar ***/

#local-alert .alert p {
padding: 10px;
}
#local-alert .alert {
margin-bottom: 0;
padding: 0;
border: 0 none;
}
