.fa, .fas{
		margin-left:10px !important;
}
.sf-menu a{
	padding : 0.75em 2em !important;
}

#select{
	direction:rtl;
}
.\000031{
	direction:ltr;
}
.ratings{
	direction:ltr;
}
.img-responsive {
	/ object-fit:cover; /
}